.toolbar {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 0;
	vertical-align: flex;
	background: white;
	border-top: 1px solid black;
}

.color {
	padding: 15px;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 2px;
}

.color-selected {
	border: 3px solid black;
}

#colors, #pixel-info, #info {
	vertical-align: middle;
	display: table-cell;
	padding-left: 10px;
}

#canvas {
	width: 80vh;
	height: 80vh;
	border: 1px solid gray;
}